### PyCitySchools
* Kirsteen Lugtu 25-Sep-2021

In [79]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [80]:
totalSchool = school_data['School ID'].count()

In [81]:
totalStudent = student_data['student_name'].count()

In [82]:
totalBudget = school_data['budget'].sum()

In [83]:
avgMathScore = student_data['math_score'].mean()

In [85]:
avgReadScore = student_data['reading_score'].mean()

In [88]:
studentsPassMath_df = school_data_complete.loc[school_data_complete['math_score'] >= 70,:]
totalCountStudPassMath = studentsPassMath_df['student_name'].count()

percentStudPassMath = (totalCountStudPassMath/totalStudent)*100

In [89]:
studentsPassReading_df = school_data_complete.loc[school_data_complete['reading_score'] >= 70,:]
totalCountStudPassRead = studentsPassReading_df['student_name'].count()

percentStudPassRead = (totalCountStudPassRead/totalStudent)*100

In [91]:
studOverallPass_df = school_data_complete.loc[((school_data_complete['math_score'] >=70) & (school_data_complete['reading_score'] >= 70)),:]
totalCountStudPass = studOverallPass_df['student_name'].count()

percentStudPass = (totalCountStudPass/totalStudent)*100

In [92]:
districtSummary_df = pd.DataFrame({
    'Total Schools' : totalSchool,
    'Total Students': totalStudent,
    'Total Budget' : totalBudget,
    'Average Math Score' : avgMathScore,
    'Average Reading Score' : avgReadScore,
    '% Passing Math' : percentStudPassMath,
    '% Passing Reading' : percentStudPassRead,
    '% Overall Passing' : [percentStudPass]
})

# District Summary

In [112]:
districtSummary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [113]:
#groupby school_data_complete['school_name']
groupedBySchool_df = school_data_complete.groupby(['school_name'])

In [114]:
# extract data needed
school_data_clean = school_data_complete[['school_name','type','size','budget','math_score', 'reading_score']]

In [115]:
# group by school
schoolByGroup = school_data_clean.groupby(['school_name'])

# get mean of all values for each school (size, budget are same values for each school)
school_summary_df = schoolByGroup.mean()

In [116]:
# per student budget
school_summary_df['Per Student Budget'] = (school_summary_df['budget']) / (school_summary_df['size'])
#school_summary_df['Per Student Budget'] = '${:,.2f}'.format(school_summary_df['Per Student Budget'])

In [117]:
# % passing math
passMathCountPerSchool = (studentsPassMath_df.groupby(['school_name'])).count()
passMathCountPerSchool = passMathCountPerSchool['math_score']

In [118]:
school_summary1 = pd.merge(school_summary_df,passMathCountPerSchool, on='school_name')
school_summary1['% Passing Math'] = (school_summary1['math_score_y']/school_summary1['size'])*100

In [119]:
# % passing reading
passReadCountPerSchool = (studentsPassReading_df.groupby(['school_name'])).count()
passReadCountPerSchool = passReadCountPerSchool['reading_score']

school_summary2 = pd.merge(school_summary1,passReadCountPerSchool, on='school_name')
school_summary2['% Passing Reading'] = (school_summary2['reading_score_y']/school_summary2['size'])*100

In [120]:
# % passing overall
passAllCountPerSchool = (studOverallPass_df.groupby(['school_name'])).count()
passAllCountPerSchool = passAllCountPerSchool['Student ID']

school_summary3 = pd.merge(school_summary2,passAllCountPerSchool, on='school_name')
school_summary3['% Overall Passing'] = (school_summary3['Student ID']/school_summary3['size'])*100

In [121]:
school_summary3 = school_summary3[['size','budget','Per Student Budget',
                                   'math_score_x','reading_score_x',
                                   '% Passing Math','% Passing Reading','% Overall Passing']]

In [123]:
school_summary_final = pd.merge(schoolType, school_summary3, on='school_name')
school_summary_final.set_index('school_name')

school_summary_final = school_summary_final.rename(columns={'type' : 'School Type',
                                                           'size' : 'Total Students',
                                                           'budget' : 'Total Budget',
                                                           'math_score_x' : 'Average Math Score',
                                                           'reading_score_x' : 'Average Reading Score'})

## School Summary

In [124]:
school_summary_final.set_index('school_name')

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [125]:
topSchool = school_summary_final.sort_values(by='% Overall Passing', ascending=False)
topSchool = topSchool.head(5)

## Top Performing Schools (By % Overall Passing)

In [126]:
topSchool

,school_name,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
14,Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [127]:
bottomSchool = school_summary_final.sort_values(by='% Overall Passing')
bottomSchool = bottomSchool.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [128]:
bottomSchool

,school_name,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
0,Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
12,Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [129]:
# get series of students within each grade
students9th = student_data.loc[student_data['grade'] == '9th',:] 
students10th = student_data.loc[student_data['grade'] == '10th',:] 
students11th = student_data.loc[student_data['grade'] == '11th',:] 
students12th = student_data.loc[student_data['grade'] == '12th',:]

In [130]:
# group by schools and get means
schoolMeans9th = students9th.groupby(['school_name']).mean()
schoolMeans10th = students10th.groupby(['school_name']).mean()
schoolMeans11th = students11th.groupby(['school_name']).mean()
schoolMeans12th = students12th.groupby(['school_name']).mean()

In [131]:
schoolMeans1 = pd.merge(schoolMeans9th, schoolMeans10th, on='school_name', suffixes=('9th','10th'))

In [132]:
schoolMeans2 = pd.merge(schoolMeans1, schoolMeans11th, on='school_name', suffixes=('x','11th'))
schoolMeansAll = pd.merge(schoolMeans2, schoolMeans12th, on='school_name', suffixes=('11th','12th'))

In [ ]:
# Math scores by grade
schoolMathMeans = schoolMeansAll[['math_score9th','math_score10th','math_score11th', 'math_score12th']]
schoolMathMeans = schoolMathMeans.rename(columns={'math_score9th' : '9th grade Avg Math Score ',
                                                  'math_score10th' : '10th grade Avg Math Score ',
                                                  'math_score11th' : '11th grade Avg Math Score ', 
                                                  'math_score12th' : '12th grade Avg Math Score '})

## Math Scores by Grade

In [133]:
schoolMathMeans

,9th grade Avg Math Score,10th grade Avg Math Score,11th grade Avg Math Score,12th grade Avg Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [134]:
# reading score means by grade
schoolReadingMeans = schoolMeansAll[['reading_score9th','reading_score10th','reading_score11th', 'reading_score12th']]
schoolReadingMeans = schoolReadingMeans.rename(columns={'reading_score9th' : '9th grade Avg Reading Score ',
                                                  'reading_score10th' : '10th grade Avg Reading Score ',
                                                  'reading_score11th' : '11th grade Avg Reading Score ', 
                                                  'reading_score12th' : '12th grade Avg Reading Score '})

## Reading Score by Grade

In [135]:
schoolReadingMeans

,9th grade Avg Reading Score,10th grade Avg Reading Score,11th grade Avg Reading Score,12th grade Avg Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [136]:
school_data_complete['per student budget'] = school_data_complete['budget']/school_data_complete['size']

In [137]:
# school spending

# bin data
bins = [0, 580, 625, 645, 700]
labels = ['<$580', '$581-625', '$626-645', '$645-700']

school_data_complete['bin'] = pd.cut(school_data_complete["per student budget"], bins, labels=labels, include_lowest=True)

In [138]:
# extract only scores
schoolDataBin = school_data_complete[['reading_score','math_score','bin']]

In [139]:
# count totals in each bin
schoolBinTotal = (schoolDataBin.groupby('bin')).count()

In [140]:
# math score means for each bin
schoolBinData = (schoolDataBin.groupby('bin')).mean()
schoolBinData = pd.merge(schoolBinData,schoolBinTotal, on='bin')
schoolBinData = schoolBinData.rename(columns={'reading_score_x':'Average Math Score',
                                              'math_score_x':'Average Reading Score',
                                              'math_score_y':'totalStudents'})

In [141]:
schoolDataBinPassMath = schoolDataBin.loc[schoolDataBin['math_score'] >= 70,:]
schoolDataBinPassMathCount = (schoolDataBinPassMath.groupby('bin')).count()
schoolDataBinPassMathCount

schoolBinData = pd.merge(schoolBinData, schoolDataBinPassMathCount, on='bin')

schoolBinData['% Passing Math'] = (schoolBinData['math_score']/schoolBinData['totalStudents'])*100

In [142]:
schoolBinData = schoolBinData[['Average Math Score', 'Average Reading Score', '% Passing Math', 'totalStudents']]

In [143]:
schoolDataBinPassRead = schoolDataBin.loc[schoolDataBin['reading_score'] >= 70,:]
schoolDataBinPassReadCount = (schoolDataBinPassRead.groupby('bin')).count()
schoolBinData = pd.merge(schoolBinData, schoolDataBinPassReadCount, on='bin')
schoolBinData['% Passing Reading'] = (schoolBinData['reading_score']/schoolBinData['totalStudents'])*100

In [144]:
# clean data, drop columns not needed
schoolBinData = schoolBinData[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading','totalStudents']]

In [145]:
schoolDataBinPass = schoolDataBin.loc[(schoolDataBin['math_score'] >= 70) & (schoolDataBin['reading_score'] >= 70),:]
schoolDataBinPassCount = (schoolDataBinPass.groupby('bin')).count()
schoolBinData = pd.merge(schoolBinData, schoolDataBinPassCount, on='bin')
schoolBinData['% Passing Overall'] = (schoolBinData['reading_score']/schoolBinData['totalStudents'])*100

In [146]:
# clean data, drop columns not needed
schoolBinData = schoolBinData[['Average Math Score', 'Average Reading Score', 
                               '% Passing Math', '% Passing Reading','% Passing Overall']]

## Scores by School Spending

In [147]:
schoolBinData

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
bin,,,,,
<$580,83.989488,83.274201,93.867718,96.539641,90.582567
$581-625,83.889560,83.440188,93.740938,96.544224,90.478492
$626-645,81.219475,77.585164,69.419561,82.396613,57.559210
$645-700,81.005604,77.049297,66.230813,81.109397,53.528791

In [184]:
studentScoreData = school_data_complete[['Student ID','math_score','reading_score','size']]


# bins according to school size
sz_bin = [0, 1000, 2000, 5000]
sz_labels = ['Small (<1000)', 'Medium (1000-2000)', ' Large (2000-5000)']

studentScoreData['szbin'] = pd.cut(school_data_complete["size"], sz_bin, labels=sz_labels, include_lowest=True)

<ipython-input-184-60de0dec0886>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  studentScoreData['szbin'] = pd.cut(school_data_complete["size"], sz_bin, labels=sz_labels, include_lowest=True)

In [185]:
studentScoreCount = studentScoreData.groupby(studentScoreData['szbin']).count()

In [186]:
studentScoreBySize = studentScoreData.groupby(studentScoreData['szbin']).mean()
studentScoreBySize = pd.merge(studentScoreBySize,studentScoreCount, on='szbin')

studentScoreBySize = studentScoreBySize[['math_score_x','reading_score_x','Student ID_y']]
studentScoreBySize = studentScoreBySize.rename(columns={'math_score_x':'Average Math Score',
                                                        'reading_score_x':'Average Reading Score',
                                                        'Student ID_y':'studentCount'})

In [187]:
# extract only students passing math 
studentPassMath_sz = studentScoreData.loc[studentScoreData['math_score'] >= 70,:]
passMathCount_sz = studentPassMath_sz.groupby(studentPassMath_sz['szbin']).count()

studentScoreBySize = pd.merge(studentScoreBySize, passMathCount_sz, on='szbin')
studentScoreBySize = studentScoreBySize[['Average Math Score', 'Average Reading Score', 'studentCount', 'Student ID']]

In [188]:
studentScoreBySize['% Passing Math'] = (studentScoreBySize['Student ID']/studentScoreBySize['studentCount'])*100
#studentScoreBySize = studentScoreBySize.rename(columns={'Student ID':''})

In [189]:
# extract only students passing reading 
studentPassRead_sz = studentScoreData.loc[studentScoreData['reading_score'] >= 70,:]
passReadCount_sz = studentPassRead_sz.groupby(studentPassRead_sz['szbin']).count()

studentScoreBySize = pd.merge(studentScoreBySize, passReadCount_sz, on='szbin')

In [190]:
studentScoreBySize = studentScoreBySize[['Average Math Score', 'Average Reading Score', 
                                         '% Passing Math', 'studentCount', 'reading_score']]

In [191]:
studentScoreBySize['% Passing Reading'] = (studentScoreBySize['reading_score']/studentScoreBySize['studentCount'])*100
studentScoreBySize = studentScoreBySize[['Average Math Score', 'Average Reading Score', 
                                         '% Passing Math', '% Passing Reading','studentCount']]

In [192]:
studentPassAll_sz = studentScoreData.loc[(studentScoreData['reading_score'] >= 70) & (studentScoreData['math_score'] >= 70),:]
studentPassAll_sz
passAllCount_sz = studentPassAll_sz.groupby(studentPassAll_sz['szbin']).count()
passAllCount_sz
studentScoreBySize = pd.merge(studentScoreBySize, passAllCount_sz, on='szbin')

In [193]:
studentScoreBySize['% Passing Overall']=(studentScoreBySize['Student ID']/studentScoreBySize['studentCount'])*100
studentScoreBySize = studentScoreBySize[['Average Math Score','Average Reading Score', 
                                         '% Passing Math','% Passing Reading','% Passing Overall']]

## Scores by School Size

In [194]:
studentScoreBySize

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
szbin,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,90.136789
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,90.624267
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,56.574046

In [195]:
# group by school type
studentTotalsType = school_data_complete.groupby(school_data_complete['type']).count()
studentScoreByType = school_data_complete.groupby(school_data_complete['type']).mean()
studentScoreByType = pd.merge(studentScoreByType, studentTotalsType, on='type')
studentScoreByType = studentScoreByType.rename(columns={'math_score_x':'Average Math Score',
                                                       'reading_score_x':'Average Reading Score'})

studentScoreByType = studentScoreByType[['Average Math Score', 'Average Reading Score', 'Student ID_y']]
studentScoreByType = studentScoreByType.rename(columns={'Student ID_y':'studentCnt'})

In [196]:
# passing math
studentPassMath_Type = school_data_complete.loc[school_data_complete['math_score'] >= 70]
studentPassMathCount_Type = (studentPassMath_Type.groupby(studentPassMath_Type['type'])).count()

In [197]:
studentScoreByType = pd.merge(studentScoreByType, studentPassMathCount_Type, on='type')
studentScoreByType['% Passing Math'] = (studentScoreByType['grade']/studentScoreByType['studentCnt'])*100
studentScoreByType = studentScoreByType[['Average Math Score', 'Average Reading Score', '% Passing Math', 'studentCnt']]

In [198]:
# passing reading
studentPassRead_Type = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
studentPassReadCount_Type = (studentPassRead_Type.groupby(studentPassRead_Type['type'])).count()

In [199]:
studentScoreByType = pd.merge(studentScoreByType, studentPassReadCount_Type, on='type')
studentScoreByType['% Passing Reading'] = (studentScoreByType['grade']/studentScoreByType['studentCnt'])*100
studentScoreByType = studentScoreByType[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading','studentCnt']]

In [200]:

studPassAll_Type = school_data_complete.loc[(school_data_complete['math_score'] >= 70) & 
                                            (school_data_complete['reading_score'] >= 70),:]

studPassAllCount_Type = (studPassAll_Type.groupby(studPassAll_Type['type'])).count()

In [201]:
studentScoreByType = pd.merge(studentScoreByType, studPassAllCount_Type, on='type')
studentScoreByType['% Passing Overall'] = (studentScoreByType['grade']/studentScoreByType['studentCnt'])*100

In [202]:
studentScoreByType = studentScoreByType[['Average Math Score',
                                         'Average Reading Score',
                                         '% Passing Math',
                                         '% Passing Reading',
                                         '% Passing Overall']]

## Scores by School Type

In [203]:
studentScoreByType

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878